:root {
  --bs-primary: #629d23;
  --bs-primary-rgb: 98, 157, 35;

  --bs-secondary: #2c3c28;
  --bs-secondary-rgb: 44, 60, 40;

  --bs-btn-bg: #629d23;
}

.btn-primary {
  background-color: #629d23 !important;
  border: #629d23;
}
header {
  background-color: var(--bs-secondary);
}

.site-top-bar {
  border-color: rgba(255, 255, 255, 0.111) !important;
}

.bg-primary {
  background-color: rgba(var(--bs-primary-rgb), 1) !important;
}

.text-sm {
  font-size: 0.8rem;
}

.hero-banner {
  background-image: url(../images/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.badge-position {
  top: 14px !important;
  left: 50px;
}

.btn-category-action {
  padding: 0.8rem 1.5rem;
  border: none !important;
}
.btn-category-action:hover {
  background-color: var(--bs-secondary) !important;
  color: white !important;
  border: none !important;
}
.btn-category-action:hover i {
  color: white !important;
}

.btn-action {
  padding: 0.8rem 1.5rem;
}
.btn-action:hover {
  background-color: var(--bs-secondary) !important;
  color: white !important;
  border-color: var(--bs-primary) !important;
}
.btn-action:hover i {
  color: white !important;
}

@media (max-width: 991.98px) {
  #primary-nav {
    background-color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  #primary-nav .navbar-toggler .navbar-toggler-icon {
    color: var(--bs-secondary) !important;
  }
}

#categoryShowcase h3 {
  font-size: 1rem;
}

#categoryShowcase img {
  height: 100%;
  max-height: 90px;
  object-fit: contain;
}

#categoryShowcase a {
  position: relative;
}
#categoryShowcase a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 0%;
  background-color: var(--bs-primary);
  transition: 0.3s;
}
#categoryShowcase a:hover::after {
  width: 100%;
}

.action-share-btn {
  display: none;
}
#bestSeller:hover .action-share-btn {
  display: flex !important;
}
.action-share-btn > a {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px dashed white;
  color: white;
  transition: 0.3s;
}
.action-share-btn a:hover {
  background-color: white;
  color: var(--bs-primary);
}
.action-share-btn a:hover i {
  color: var(--bs-primary);
  animation: myMove 0.5s;
}

@keyframes myMove {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
