<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float</title>
    <style>
      .container {
        width: 600px;
        padding: 15px;
        background-color: rgb(126, 178, 251);
        margin: 15px auto;
        color: rgb(11, 10, 10);
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        border-radius: 15px;
      }

      img {
        float: right;
        width: 200px;
        height: auto;
        margin-left: 15px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="../html/ai.PNG" alt="image" />
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim aliquam
      voluptatibus sit ducimus. Praesentium possimus voluptates consequuntur
      quae, maxime molestias debitis eaque corporis, enim optio minima! Magni
      repudiandae laborum facere? Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Enim aliquam voluptatibus sit ducimus. Praesentium
      possimus voluptates consequuntur quae, maxime molestias debitis eaque
      corporis, enim optio minima! Magni repudiandae laborum facere?
    </div>
  </body>
</html>
