<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float Layout</title>
    <style>
      .container {
        width: 700px;
        height: 230px;
        background-color: pink;
        padding: 15px;
      }
      img {
        width: 200px;
        float: left;
        margin-right: 15px;
      }
      p {
        width: 63%;
        font-family: Arial;
        line-height: 1.6;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="cat.png" alt="cat" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        voluptas excepturi accusamus inventore, nihil libero id possimus error,
        mollitia pariatur facilis, iure earum minus illo? Repudiandae magnam
        reiciendis ad voluptatum. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Doloribus non voluptatem dolorum ut beatae, quo iusto!
        Perferendis tempore quisquam ea dignissimos dicta, eligendi autem
        commodi voluptatum nam expedita iusto deserunt!
      </p>
    </div>
  </body>
</html>
