:root {
  --heading-color: #0b0f19;
  --primary-color: rgb(13, 110, 253);
}
/* .hero-banner */
.hero-banner {
  background-image: linear-gradient(to right, #efeffd, #fbecfe);
}

.client-students img {
  width: 60px;
}
.client-students img:nth-child(2) {
  left: 40px;
}

.client-students img:last-child {
  left: 80px;
}

.course-title {
  color: var(--heading-color) !important;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.course-title:hover {
  color: var(--primary-color) !important;
}
