<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | My Website</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <h2>My Website</h2>
      <p>Welcome to my website!</p>
    </header>

    <nav>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <main>
      <h1>About</h1>
      <p>
        This is the about page of my website. Here you can find information
        about the company and its mission.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit temporibus
        dicta asperiores dolores ea delectus cum error eius porro. Nemo
        pariatur, vero obcaecati officiis autem sit blanditiis nobis modi quo.
      </p>
      <img src="images/pic (1).jpg" alt="" />
    </main>

    <footer>
      <p>&copy; 2026, My Website. All rights reserved.</p>
    </footer>
  </body>
</html>
